$cardColor: #404258;
$textColor: #fff;
$boxShadowColor: #1e1e1e;

.summary-dialog {
  background-color: $cardColor;
  margin: -24px;
  box-shadow: none;
}

.summary-dialog-title {
  color: $textColor;
}

.summary-dialog-content {
  color: $textColor;
}

.summary-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  line-height: 14px;
  min-width: auto;
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  color: $textColor;
}
